:root{
    --yellow:#ffff00;
    --red:red;
    --green:#53bf9d;
    --white:whitesmoke;
    --black:black;
}

.body,h2{
    margin:0;
}
.landing{
    background-image: url('../project/photos/294074.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color:var(--white);
}
header a{
    text-decoration: none;
    color:var(--black);
}
header{
    display:flex;
    padding:1em;

}
#logo{
    flex:3;
    font-size:1.5em;
}
nav{
    flex:2;
    display:flex;
    align-items:center;
    font-size: 1.5em;
    font-weight: bolder;
}
nav a{
    flex:1;
}
nav a:hover{
   color:var(--green);
}
header h2 i,nav a i{
    margin-right:.5em;
}
.maintext{
    display:flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding:2em;

}
.tagline1{
    color: var(--black);
    font-size:2.5em;
    font-weight:bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 30vh;
}
.tagline2{
    color: var(--black);
    font-size: 1.5em;
    font-weight:bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.maintext div{
    margin-top: .75em;
}
.maintext button{
    width: 20vh;
    margin-top:2em;
    border-radius: 10px;
    padding:.7em;
    background-color: var(--green
    );
    color:var(--white);
    border:1px solid black;
    font-weight: bolder;
}
.maintext button:active{
    color:darkgreen;

}
.menu{
    display:grid;
    background:linear-gradient(to right, rgb(59, 248, 153),rgb(2, 56, 31)) ;
    color: var(--white);
    grid-template-columns:repeat(auto-fit,minmax(216px,1fr));
}
#menuheading,#locheading{
    background:linear-gradient(to right, rgb(59, 248, 153),rgb(2, 56, 31)) ;
    color: var(--black);
    font-size:2em;
    display: flex;
    justify-content: center;
}
.menu th{
    color: var(--black);
    font-size: 1.8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    width: 100%;
    padding:1em
}
.menu tr{
    display:flex;
    justify-content:center;
    margin-top: .8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu td:nth-child(1){
    justify-self: left;
    flex:1;
}
.menu td:nth-child(2){
    justify-self:right;
}
.maincourse{
    grid-row:span 2 ;
}
.location{
    background:linear-gradient(to right, rgb(59, 248, 153),rgb(2, 56, 31)) ;
    color:var(--white);
    display:flex;
    flex-wrap:wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.location h2{
    color: var(--black);
    margin-bottom: 1em;
    justify-content:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.location div{
    flex:1;
    padding:1em;
    min-width:316px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    background-color: rgb(2, 56, 31);
    color: var(--white);
    padding:.25em 1em;
}

